@import url(./__triangle/kaufman__triangle.css);

.kaufman {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  z-index: 0;
  padding-top: 90px;
}
